version: '3.3'
services:

  sqlite3:
    image: nouchka/sqlite3:latest
    stdin_open: true
    tty: true
    volumes:
      - ./db/:/root/db/

  web:
    build: ../csvparsing
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - static_value:/app/static/
    depends_on:
      - sqlite3

  nginx:
    image: nginx:1.19.3
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static_value:/var/html/static/
    depends_on:
      - web

volumes:
 static_value:
